.btn-facebook{
    margin-top: 10px;
}
.news-section-company{
    margin-top: 15px;
    margin-bottom: 15px;
}
.hr-company{
    border-top: 1px solid #000000;
}
.text-color {
    color: #ffffff !important;
}

.bg-color {
    background-color: #0e141e !important;
}

